body { font-family: "BarleyScript-Textured";
    background-image: url("/images/jars.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}
@font-face {
    font-family: "BarleyScript-Textured";
    src: url("BarleyScript-Textured.otf") format("opentype");
}
.logo {
    width: 750px;
    margin: 50px 600px;
    background: ivory;
    padding: 35px

    
}
.aboutme { display: inline-block;
    width: 500px;
}
.navbar-dark {
    background-color: #008080;
    color: white;
}

.navbar-dark, .nav-link{ color: white;}

.nav-link, li{ margin: 10px; list-style: none; 
}