* {
    outline: 0;
    padding: 0;
    margin: 0;
    border: 0;
}

.renderbody{ margin-top: 2%; margin-left:5%}

body.home {

    background: url("/images/cutinbottom2rows.jpg") no-repeat  fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: 40% 40%;
}

@font-face {
    font-family: "BarleyScript-Textured";
    src: url("BarleyScript-Textured.otf") format("opentype");
}
@font-face {
        font-family: "TradeSupply-Textured";
        src: url("TradeSupply-Textured.otf") format("opentype");
}

.logo {
    height: 70%;
    background: antiquewhite;
    padding: 70px;
    margin: -50px 0 0 -50px;
    position: fixed;
    left: 50%;
    right: 50%;
}
.aboutme { display: inline-block;
    width: 500px;
}
.navbar-brand{  color: antiquewhite; z-index:10}
.navbar-dark {
    color: white;
}

.navbar { height: 5vw;
    max-width: 100%;
    background-color: #550000;

}


 li{ list-style: none;
 
}

.nameplate { width: 10vw;  margin: 5% 0 0 0;}


.box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    max-width: 100%;
    max-height: 100%;
    background-color: antiquewhite;
    height: 60%;
    padding: 3%
}

.pagelinks{ width: 8vw; margin-left: 8vw; }

.subheading{margin-top: 2%}
.content{margin-top: 2%}

h3{ font-size: 3vw;}

















