<h3 class="heading">Get in touch...</h3>
<div class="subheading">
    <h6>Have questions, comments, critisism, advice, report a bug?? I would love to hear from you!</h6>
    <h6>Please use the following mothods to contact me:</h6>
</div>
<div class="content">
    <p>Phone: 206-476-7091</p>
    <p>Email: CodeByHart@gmail.com</p>
    <p>LinkedIn: https://www.linkedin.com/in/beth-hart/</p>
</div>