
@{
    ViewBag.Title = "Home";
    
}

<body class="home">
   

@*<img class="background" src="/images/cutinbottom2rows.jpg" />*@

    <div class="container"><img class="box" src="/images/logo.png" alt="Photo of Beth Hart" /></div>
</body>


