
@{
    ViewBag.Title = "Home";
    
}

<body >
   

@*<img class="background" src="/images/cutinbottom2rows.jpg" />*@

    <div class="main"><img class="logo" src="/images/logo.png" alt="Photo of Beth Hart" /></div>
</body>


